<h1>Cocktails</h1>
<div class="row">
  <% @cocktails.each do |r| %>
  <div class="col-xs-12 col-sm-4">
    <h3><%= r.name %></h3>
    <p><%= r.ingredient %></p>
    <p><%= r.dose %></p>
    <p><%= link_to "See details", @cocktail, class: "btn btn-primary"%><p>
    <p><%= link_to "Edit Cocktail", edit_cocktail_path(r), class: "btn btn-primary" %></p>
    <p><%= link_to "Remove Cocktail", cocktail_path(r), method: :delete, data: {confirm: "Really remove cocktail?"}, class: "btn btn-danger" %></p>
  </div>
  <% end %>
</div>
<%= link_to "Add New Cocktail", new_cocktail_path %>
